In [3]:
def check(n1,n2,n3):
    if n1<n2<n3:
        return True
    else:
        return False

In [5]:
check(2,2,3)

False

In [6]:
def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [7]:
vol(2)

33.49333333333333

In [3]:
def myfunc(text):
    d={"upper":0, "lower":0}
    for c in text:
        if c.isupper():
            d["upper"]+=1
            elif c.islower():
                d["lower"]+=1
                else:
                    pass
                print "Original String:", text
                print "no. of upper case characters:", d["upper"]
                print "no. of lower case characters:", d["lower"]

SyntaxError: invalid syntax (<ipython-input-3-adf51345ace4>, line 6)

In [6]:
def listi(l):
    x=[]
    for a in l:
        if a not in x:
            x.append(a)
            return x

In [15]:
listi(['1','1','1','1','1','1','2','2','3','3','3','3','4','4','5','5'])

['1']

In [10]:
def multiply(num):
    total=num[0]
    for x in num:
        total*=x
        return total

In [11]:
multiply([1,2,3,4])

1

In [12]:
def palindri(s):
    return s==s[::-1]

In [14]:
palindri('kanak')

True

In [19]:
import string

def ispangram(str1,alphabet=string.ascii_lowercase):
    alphaset = set(alphabet)
    return alphaset <= set(str1.lower())

In [20]:
ispangram('A quick Brown Fox jumps over the lazy dog')

True

In [1]:
class elon():
    
    def __init__(self):
        print('musk')
        
        
    def se(self):
        print('husk')
        
        
    def ft(self):
        print('rusk')

In [2]:
rewq=elon()

musk

In [7]:
rewq.se()

husk

In [3]:
celsius =[0,2,3,4,5,6,]



fahrenheit = [temp*1.8 +32 for temp in celsius]

In [4]:
fahrenheit

[32.0, 35.6, 37.4, 39.2, 41.0, 42.8]

In [10]:
#nested list comprehension
lst = [ x**3 for x in(x**2 for x in (x**2 for x in range(11)))]

In [11]:
lst

[0,
 1,
 4096,
 531441,
 16777216,
 244140625,
 2176782336,
 13841287201,
 68719476736,
 282429536481,
 1000000000000]

In [20]:
st = 'Print only the words that start with s in this sentence' 
w = ['start','s','sentence']

In [21]:
lst = [w for letter in st if letter[0]=='s' ]

In [22]:
lst

[['start', 's', 'sentence'],
 ['start', 's', 'sentence'],
 ['start', 's', 'sentence'],
 ['start', 's', 'sentence'],
 ['start', 's', 'sentence']]

In [23]:
lst = [x for x in range(11) if x%2 ==0]

In [24]:
lst

[0, 2, 4, 6, 8, 10]

In [25]:
lst = [x for x in range(50)if x%3 ==0]

In [26]:
lst

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [34]:
def func(x):

    if x%3 ==0:
        
        print('fizz')
    elif  x%5 == 0:
        
            
        print('buzz')
    elif x%3 == 0 and x%5 == 0:
        
        print('fizzbuzz')

In [35]:
func(100)

buzz

In [36]:
st

'Print only the words that start with s in this sentence'

In [37]:
for word in st.split():
    if word[0]=='s':
        print(word)

start
s
sentence

In [39]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [40]:
list(range(0,50,3))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [2]:
a = [10,20,30,]
b = [4,5,6,]
c = [8,9,75]

list(map(lambda x,y,z:x**2*y**3*z**4,a,b,c))

[26214400, 328050000, 6150937500000]

In [18]:
n = range(567)

In [19]:
list(filter(lambda x:x%89==0,n))

[0, 89, 178, 267, 356, 445, 534]