In [1]:
2+3

5

In [2]:
4-5

-1

In [3]:
65*65

4225

In [4]:
45/5

9.0

In [5]:
45%9Z

SyntaxError: invalid syntax (<ipython-input-5-f0b1038e843e>, line 1)

In [6]:
45%7

3

In [7]:
9090%565

50

In [8]:
2**45

35184372088832

In [9]:
2+45*45-34*87

-931

In [10]:
(2+13)*(6+78)

1260

In [11]:
0.1+0.5-0.6

0.0

In [12]:
a=5

In [13]:
a+10

15

In [14]:
a=10

In [15]:
a+a

20

In [22]:
a=a+a

In [23]:
a

160

In [24]:
type(a)

int

####

In [25]:
a=45.9

In [26]:
type(a)

float

In [1]:
a

NameError: name 'a' is not defined

In [2]:
my_income=200000000000000

tax_rate=0.01

my_taxes=my_income*tax_rate

In [3]:
my_taxes

2000000000000.0

In [4]:
'hello'

'hello'

In [5]:
"heklo"

'heklo'

In [6]:
"i don't do unproductive things"

"i don't do unproductive things"

In [7]:
print("hello")

hello

In [8]:
print("tu pagl d")
print("tu dha h")

tu pagl d
tu dha h

In [11]:
 print('hello \t
 world')

SyntaxError: EOL while scanning string literal (<ipython-input-11-1043baee5ec7>, line 1)

In [12]:
len('paawan amntri')

13

In [13]:
len('paawanmantri')

12

In [16]:
mystring="hello world"

In [17]:
mystring

'hello world'

mystring[0]

In [18]:
mystring[0]

'h'

In [19]:
mystring[8]

'r'

In [20]:
mystring[9]

'l'

In [21]:
mystring[-1]

'd'

In [23]:
mystring[-2]

'l'

In [24]:
mystring[-4]

'o'

In [27]:
mystring='abcdefghijk'

In [28]:
mystring='abcdefghijk'

In [30]:
mystring[2:8]

'cdefgh'

In [31]:
mystring[:3]

'abc'

In [32]:
mystring[:9]

'abcdefghi'

In [33]:
mystring[3:6]

'def'

In [35]:
mystring[1:3]

'bc'

In [39]:
mystring[::3]

'adgj'

In [40]:
mystring[2:7:2]

'ceg'

In [41]:
mystring[::-1]

'kjihgfedcba'

In [42]:
name="paawan"

In [43]:
name[0]='R'

TypeError: 'str' object does not support item assignment

In [44]:
                   name[1:]

'aawan'

In [45]:
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            lastletters=name[1:]

In [46]:
lastletters

'aawan'

In [47]:
'R'+ lastletters

'Raawan'

In [48]:
w='kanak'

In [50]:
w+ ' pagal h'

'kanak pagal h'

In [56]:
w=w+' gadhi h'

In [55]:
w

'kanak gadhi h gadhi h'

In [60]:
letter='om'

In [61]:
letter*67

'omomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomomom'

In [62]:
'3'+'6'

'36'

In [63]:
'9'*67

'9999999999999999999999999999999999999999999999999999999999999999999'

In [10]:
m='ninni lives in amsterdam'

In [11]:
m.upper()

'NINNI LIVES IN AMSTERDAM'

m.split()

In [68]:
m.split()

['ninni', 'lives', 'in', 'amsterdam']

In [69]:
m='hi thisis a st'

In [70]:
m.split('i')

['h', ' th', 's', 's a st']

In [73]:
print('you suck{}'.format(' EVERYTIME'))

you suck EVERYTIME

In [1]:
print('The {0} {0} {0}'.format('kanak','gadhi','hai'))

The kanak kanak kanak

In [6]:
print('The {g} {g} {g}'.format(k='kanak',g='gadhi',h='hai'))

The gadhi gadhi gadhi

In [14]:
paawan=9000/3000

In [15]:
print("he is{} "".format(paawan))

SyntaxError: EOL while scanning string literal (<ipython-input-15-ff15d733252f>, line 1)

In [24]:
paawan=22/7

In [32]:
print("paawan indeed a champion    {p:0.100f}".format(p= paawan))

paawan indeed a champion    3.1428571428571427937015414499910548329353332519531250000000000000000000000000000000000000000000000000

In [34]:
character="stupid"

In [35]:
print(f'hello,he is {character}')

hello,he is stupid

In [36]:
result=22/7

In [39]:
print(f'the result that ramanujan found was{result:1.3}')

the result that ramanujan found was3.14

In [40]:
name="paawan"
rank="first"

In [42]:
print(f'{name:[1:replace{'r'}]} has got {rank} rank,he is just brilliant,will rule the world one day')

SyntaxError: f-string: expecting '}' (<ipython-input-42-294cf4f1270e>, line 1)

In [43]:
my_list=[1,2,3]

In [45]:
len(my_list)

3

In [46]:
my_list=['string','67','89.68']

In [47]:
my_list[0:]

['string', '67', '89.68']

In [49]:
my_list[2:]

['89.68']

In [50]:
list2=['sonam','gupta']

In [51]:
list2+my_list

['sonam', 'gupta', 'string', '67', '89.68']

In [53]:
my_list+list2=list3

SyntaxError: can't assign to operator (<ipython-input-53-3b35c3898b9d>, line 1)

In [54]:
list3=list2+my_list

In [55]:
list3

['sonam', 'gupta', 'string', '67', '89.68']

In [56]:
my_list[0]=69

In [57]:
my_list

[69, '67', '89.68']

In [60]:
list3.append('eighty nine','giraffe eats chicken with kanak paagal')

TypeError: append() takes exactly one argument (2 given)

In [59]:
list3

['sonam', 'gupta', 'string', '67', '89.68', 'eighty nine']

In [61]:
list3.append('john cena sucks,cm punk rocks')

In [62]:
list3

['sonam',
 'gupta',
 'string',
 '67',
 '89.68',
 'eighty nine',
 'john cena sucks,cm punk rocks']

In [63]:
list3

['sonam',
 'gupta',
 'string',
 '67',
 '89.68',
 'eighty nine',
 'john cena sucks,cm punk rocks']

In [64]:
list3-my_list

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [65]:
list67=list3-my_list

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [67]:
list3.pop()

'john cena sucks,cm punk rocks'

In [68]:
lidt3

NameError: name 'lidt3' is not defined

In [69]:
list3

['sonam', 'gupta', 'string', '67', '89.68', 'eighty nine']

In [70]:
popped_item=list3.pop()

In [73]:
popped_item

In [74]:
list3.pop(0)

'sonam'

In [75]:
list3

['gupta', 'string', '67', '89.68', 'eighty nine']

In [76]:
list3.pop(1)

'string'

In [77]:
list3

['gupta', '67', '89.68', 'eighty nine']

In [78]:
list4=['e','f','r','i']
list5=['3','89','8097654357']

In [79]:
list4.sort()

In [80]:
list4

['e', 'f', 'i', 'r']

In [81]:
list5.sort()

In [82]:
list5

['3', '8097654357', '89']

In [83]:
list5.sort()

In [84]:
list5

['3', '8097654357', '89']

In [86]:
list4.reverse()

In [87]:
list4

['r', 'i', 'f', 'e']

In [88]:
list5.reverse()

In [89]:
list5

['89', '8097654357', '3']

In [1]:
sabji_mandi={'bhindi':12,'bananas':442.50,'oranges':20}

In [2]:
sabji_mandi['bananas']

442.5

In [3]:
d={'k1':5678,'k2':[0,4,7],'k3':{'inside_ji':900900900900}}

In [4]:
d['k2']

[0, 4, 7]

In [5]:
d['k3']['inside_ji']

900900900900

In [8]:
d['k2'][2]

7

In [9]:
d={'k1':['a','b','c']}

In [14]:
list6=d['k1']

In [15]:
list6

['a', 'b', 'c']

In [16]:
list7=list6[2]

In [17]:
list7

'c'

In [18]:
list7.upper()

'C'

## d['k1'][2].upper()

In [21]:
d['k2']=4567

In [22]:
d

{'k1': ['a', 'b', 'c'], 'k2': 4567}

In [24]:
d['k1']='sonam bewafa'

In [25]:
d

{'k1': 'sonam bewafa', 'k2': 4567}

In [27]:
d.keys()

dict_keys(['k1', 'k2'])

In [28]:
d.values()

dict_values(['sonam bewafa', 4567])

In [29]:
d.items()

dict_items([('k1', 'sonam bewafa'), ('k2', 4567)])

In [30]:
t=(1,2,3,4,5)

In [31]:
type(t)

tuple

In [32]:
j=['9','8']

In [33]:
type(j)

list

In [34]:
y={'sir','p','eet'}

In [35]:
type(y)

set

In [36]:
t=('0','8','4')

In [38]:
t[0]

'0'

In [39]:
t.count('8')

1

In [40]:
t.index('4')

2

In [42]:
myset=set()

In [43]:
myset.add('sonam gupta')

In [44]:
myset

{'sonam gupta'}

In [45]:
myset.add('sonam gupta')

In [47]:
myset

{'sonam gupta'}

In [48]:
list8=[9,9,9,9,9,7,7,7,5,4,4,4,2,2,2,2,3,3]

In [49]:
set(list8)

{2, 3, 4, 5, 7, 9}

In [1]:
1>2

False

In [2]:
type(True)

bool

In [3]:
1==1

True

In [4]:
b=None

In [5]:
b

In [6]:
%%writefile myfile.txt
Hello this is a text file
ths is the second line
this is the third line

Writing myfile.txt

In [7]:
pwd

'C:\\Users\\Intel\\Desktop'

In [8]:
myfile=open('myfile.txt')

In [9]:
myfile.read()

'Hello this is a text file\nths is the second line\nthis is the third line\n'

In [10]:
myfile.read()

''

In [11]:
myfile.seek(0)

0

In [12]:
myfile.read()

'Hello this is a text file\nths is the second line\nthis is the third line\n'

In [13]:
myfile.readlines()

[]

In [14]:
myfile.seek(0)

0

In [15]:
myfile.readlines()

['Hello this is a text file\n',
 'ths is the second line\n',
 'this is the third line\n']

In [16]:
myfile.close()

In [19]:
with open('myfile.txt') as my_new_file:
    con=my_new_file.read()

In [20]:
con

'Hello this is a text file\nths is the second line\nthis is the third line\n'

In [4]:
 with open('myfile.txt',mode='r') as:myfile:
           content=myfile.read()

SyntaxError: invalid syntax (<ipython-input-4-132535c1f09b>, line 1)

In [5]:
%%writefile y_new_file.txt
ONE ON FIRST
TWO ON SECOND

Writing y_new_file.txt

In [7]:
with open('y_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND

In [8]:
with open('y_new_file.txt',mode='a') as f:
    f.write('THIRD ON THREE')

In [9]:
with open('y_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THIRD ON THREE

In [10]:
with open('0000123456.txt',mode='w') as f:
    f.write('this is no. blind folded boy')

In [13]:
with open('0000123456.txt',mode='r') as f:
   print (f.read())

this is no. blind folded boy

In [26]:
bhindi='rancho'
if bhindi=='aloo':
    print("galat sabzi h")
elif bhindi=='bank':
    print("money is cool,and i like to be  cool")
else:
    print("raju ki mammi sahi thi")

raju ki mammi sahi thi

In [4]:
list45=[123,3,4,5,6,7,8,9,0]

In [6]:
for inte in list45:
    print('i m goat')

i m goat
i m goat
i m goat
i m goat
i m goat
i m goat
i m goat
i m goat
i m goat

In [13]:
for inte in list45:
    if inte % 2 == 0:
        print(inte) 
else:
    print(f'odd number: {inte}')

4
6
8
0
odd number: 0

In [1]:
sumlist=9
for num in list45:
    sumlist=sumlist+num
    print(sumlist)

NameError: name 'list45' is not defined

In [1]:
string='hrllo'
for letter in 'hrllo':
    print('cool')

cool
cool
cool
cool
cool

In [2]:
listry=[(4,5),(3,5)]

In [7]:
for q,e in listry:
            
    print(e)

5
5

In [11]:
d={'k1':87,'k2':576,'k3':5790}

for value in d.values():
    print(value)

87
576
5790

In [1]:

    f=[6,8,9]
    for num in f:
        #comment
        pass
    print('bye')

bye

jkgh"

In [5]:
type(8.9)

float

In [9]:
mystring='sammy'
for letter in mystring:
    if letter=='a':
        continue
        print(letterZ)

In [10]:
x=5
while x<5:
    if x==2:
        break
        print(x)

In [1]:
listy=[1,2,3]

In [5]:
for num in range(2,15,3):
    print(num)

2
5
8
11
14

In [6]:
list(range(0,15,3))

[0, 3, 6, 9, 12]

In [17]:

it='abcde'
for letter,index in enumerate(it):
    print(letter)
    print(index)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [20]:
listy1=['paawan','kanak','vibhuti']
listy2=['mantri','mantri','mantri']
listy3=['17','20','29']

In [21]:
for item in zip(listy1,listy2,listy3):
    print(item)

('paawan', 'mantri', '17')
('kanak', 'mantri', '20')
('vibhuti', 'mantri', '29')

In [22]:
'r' in 'ramesh'

True

In [23]:
d={'ykey':687}
687 in d.keys()

False

In [24]:
min(listy3)

'17'

In [25]:
from random import shuffle

In [26]:
listy4=[1,3,5,6,4,3,6,4,6,4,7,9,3]

In [27]:
shuffle(listy4)

In [28]:
listy4

[7, 3, 3, 9, 3, 6, 6, 5, 4, 4, 6, 4, 1]

In [29]:
shuffle(listy3)

In [30]:
listy3

['17', '29', '20']

In [31]:
from random import randint

In [33]:
randint(12,10000000000)

5836882221

In [34]:
mystring='hello'

In [38]:
mylist=[letter for letter in mystring]

In [39]:
mylist

['h', 'e', 'l', 'l', 'o']

In [40]:
mylist=[d for d in 'docktoe']

In [41]:
mylist

['d', 'o', 'c', 'k', 't', 'o', 'e']

In [53]:
mylist=[c**3 for c in range(0,12) if c%2==0]

In [54]:
mylist

[0, 8, 64, 216, 512, 1000]

In [57]:
celc=[23,46,69]

fahr=[(9/5*temp +32) for temp in celc]

In [58]:
fahr

[73.4, 114.8, 156.2]

In [61]:
fahr=[]
fot temp in celc:
    fahr.append((9/5*temp +32))

SyntaxError: invalid syntax (<ipython-input-61-98b1297da7a6>, line 2)

In [62]:
fahr

[73.4, 114.8, 156.2]

In [64]:
mylost=[]
for x in [1,2,3]:
    for y in [4,5,6]:
        mylost.append(x+y)

In [65]:
mylost

[5, 6, 7, 6, 7, 8, 7, 8, 9]

In [66]:
mylist=[x*y for x in [1,2,3] for y in[1,2,3]]

In [67]:
mylist

[1, 2, 3, 2, 4, 6, 3, 6, 9]

In [72]:
 mylist=[c for c in range(0,11) if c%2==0 ]

In [73]:
mylist

[0, 2, 4, 6, 8, 10]

In [80]:
mylist=[n for n in range(1,51) if n%3==0]

In [81]:
mylist

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [76]:
st='print every word in this sentence that has even an even number of letters'

In [87]:
for word in st.split():
    if len(word) % 2 == 0:
        
    print(word+'is even')

IndentationError: expected an indented block (<ipython-input-87-2ea98138f59a>, line 4)

In [90]:
for word in st.split():
    if len(word) % 2 == 0:
        print(word  + 'is even!')

wordis even!
inis even!
thisis even!
sentenceis even!
thatis even!
evenis even!
anis even!
evenis even!
numberis even!
ofis even!

In [93]:
mylist=[c for c in range (0,101) if c%3==0:
    print('Fizz')
    if c%5==0:
        print('Buzz')
        if c%3*5==0:
            print('FizzBuzz')]

SyntaxError: invalid syntax (<ipython-input-93-baea6f154bdb>, line 1)

In [99]:
for num in range(1,101):
    if num%3==0 and num%5==0:
        print('FizzBuzz')
        elif num%3==0:
            print('Fizz')
            elif num%5==0:
                print('Buzz')
    else:
        print(num)

SyntaxError: invalid syntax (<ipython-input-99-8f443196bf5e>, line 4)

In [100]:
st='Create a list of the first letters of every word in this string'

In [103]:
[word[0] for word in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [104]:
mylist=[1,2,3,4,5,6]

In [106]:
mylist.append(67)

In [107]:
mylist

[1, 2, 3, 4, 5, 6, 67]

In [108]:
mylist.pop()

67

lncanc

In [111]:
mylist.insert(65)

TypeError: insert() takes exactly 2 arguments (1 given)

In [116]:
def name_function():
    '''
    DOCSTRING: Information about the function
    INPUT: Tells the information about the individual
    OUTPUT: Hello..
    '''
    print('Hello')

In [115]:
 help(name_function)

Help on function name_function in module __main__:

name_function()

In [132]:
def say_hello(name='PAAWAN'):
    return('hey' + name)

In [133]:
result=say_hello('paawan mantri')

In [134]:
result

'heypaawan mantri'

In [136]:
def add(n1,n2):
    return(n1+n2)

In [138]:
result=add(4,5)

In [139]:
result

9

In [4]:
def dog_check(i):
    return'dog ' in i.lower()

In [152]:
dog_check('myDogdoesnt stinks|')

False

In [1]:
def pig_latin(word):
    firstletter=word[0]
    if firstletter in 'aeiou':
        pigword=word+'ay'
    else:
        pigword=word[1:]+ firstletter+'ay'
    return pigword

In [3]:
pig_latin('sonamgupta')

'onamguptasay'

In [7]:
def myfunc(a,b):
    return ((a+b)*.05)

In [8]:
myfunc(40,60)

5.0

In [15]:
def myfunc(*args):
    for item in args:
        print(item)

In [16]:
myfunc(40,60,23,45,2,4,2,4,3)

40
60
23
45
2
4
2
4
3

In [25]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('my fruitis {}'.format(kwargs['fruit']))
    else:
        print('ididnt fin ')

In [26]:
myfunc(fruit='apple and mango',veggi='spinach whih shichan hates btw')

{'fruit': 'apple and mango', 'veggi': 'spinach whih shichan hates btw'}
my fruitis apple and mango

In [28]:
def myfunc(**kwargs):
    print(kwargs)

In [29]:
myfunc(fruit='apple and mango',veggi='spinach whih shichan hates btw')

{'fruit': 'apple and mango', 'veggi': 'spinach whih shichan hates btw'}

In [9]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('i would kike {} {}'.format(args[0],kwargs['fruit']))

In [11]:
myfunc(10,20,30,909090,fruit='app',food='yrhjv',animal='ototkh')

(10, 20, 30, 909090)
{'fruit': 'app', 'food': 'yrhjv', 'animal': 'ototkh'}
i would kike 10 app

In [12]:
def myfunc(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [13]:
myfunc(2,4)

2

In [14]:
myfunc(2,5)

5

In [17]:
def myfunc('two words'):
    if two[0]=words[0]:
        return True
    else:
        return False

SyntaxError: invalid syntax (<ipython-input-17-09b80d52e8b5>, line 1)

In [28]:
def myfunc(n1,n2):
    if n1+n2==20:
        return True
    else:
        return False

In [34]:
text=macdonaldtrump

NameError: name 'macdonaldtrump' is not defined

In [37]:
def myfunc(text):
    firstletter=text[0]
    inbtw=text[1:3]
    fourthletter=text[3]
    
    rest=text[4:]
    
    
    
    return firstletter.upper()+ inbtw + fourthletter.upper() + rest

In [39]:
myfunc('macdonald')

'MacDonald'

In [40]:
def myfunc(text):
    return text.()

In [42]:
myfunc(we are ready)

SyntaxError: invalid syntax (<ipython-input-42-a50b3399aae2>, line 1)

In [43]:
def myfunc(n1):
    if 100<n1<110 or 200<n1<210:
        return True
    else: return False

In [45]:
myfunc(343)

False

In [46]:
def myfunc(text):
    firs=text[0]
    second=text[1]
    rest=text[1:]
    return first*3 + second*3 + rest*3

In [48]:
myfunc('hello')

NameError: name 'first' is not defined

In [53]:
def myfunc(text):
    word_list=text.split()
     reverse_word_list= word_list[::-1]
        return ' '.join(reverse_word_list)

IndentationError: unexpected indent (<ipython-input-53-625aae530cf5>, line 3)

In [51]:
myfunc('we are ready')

NameError: name 'first' is not defined

In [60]:
def myfunc(nums):
    for i in range(0,len(nums)-1):
        if nums[i:i+2] ==[3,3]
            return True
        
            return False

SyntaxError: invalid syntax (<ipython-input-60-d28c68831b93>, line 3)

In [61]:
myfunc([1,3,3,5])

True

In [62]:
def myfunc(text):
    result=' '
    for char in text:
        result+=char*3
        return result

In [63]:
myfunc('asgcagsch')

' aaa'

In [3]:
def myfunc(n1,n2,n3):
    if n1+n2+n3<=21:
        return n1+n2+n3
    elif n1+n2+11>=21:
        return n1+n2+1
    elif n1+n2+n3>=21:
        return('BUST')

In [4]:
myfunc(9,9,3)

21

In [75]:
def myfunc(1,3,45,6,7,8,9):
    for num in myfunc:
        return num%2==0

SyntaxError: invalid syntax (<ipython-input-75-e3252e8b3a23>, line 1)

In [5]:
def myfunc(n1):
    if n1%2==0:
        return(n1)

In [7]:
myfunc(jiijijijijijijijijijijiuijuijiuijiuijiujijiujiiujjiuijiujiujiujiuijiuijiuijiuijiuijiuijiuiuijiuijiuijiuijiuijijiuijiuijiuijiuij)

2

In [14]:
def myfunc(*args):
    out=()
for num in args:
    if num%2==0:
        out.append(num)
    for return out

SyntaxError: invalid syntax (<ipython-input-14-509c0dc05cad>, line 6)

In [6]:
def summer69(arr):
    total=0
    add=True
    for num in arr:
        while add:
            if num!=6:
                total+=num
                break
        else:
            add=False
        while not add:
            if num!=9:
                break
                else:
                    add=True
                    break
                    return total

SyntaxError: invalid syntax (<ipython-input-6-3b0387d1dc47>, line 14)

NameError: name 'anthromorphism' is not defined

In [7]:
def spygame(arr):
    for num in arr:
        if num[n1]=0 num[n1+n2]=0:
            return True if num[n1+n2+n3]=7
        else:
            return False

SyntaxError: invalid syntax (<ipython-input-7-0616b890d9d2>, line 3)

In [1]:
def square(num):
    return num**2

In [2]:
mynums=[1,2,3,4,5]

In [4]:
 for item in map(square,mynums):
        print(item)

1
4
9
16
25

In [5]:
list(map(square,mynums))

[1, 4, 9, 16, 25]

In [7]:
def splicer(string):
    if len(string)%2==0:
        return 'even'
    else:
        return string[0]

In [8]:
names=['paawan','kanak','vibhuti']

In [9]:
list(map(splicer,names))

['even', 'k', 'v']

In [10]:
def checkeven(num):
    return num%2==0

In [11]:
mynum=[1,2,3,4,5,6]

In [13]:
list(filter(checkeven,mynum))

[2, 4, 6]

In [14]:
for n in filter(checkeven,mynum):
    print(n)

2
4
6

In [18]:
square =lambda num:num**2

In [25]:
square(99)

9801

In [21]:
list(map(lambda num:num**2,mynum))

[1, 4, 9, 16, 25, 36]

In [23]:
list(filter(lambda num:num%2==0,mynum))

[2, 4, 6]

In [24]:
map(lambda name:name[0],name)

NameError: name 'name' is not defined

In [1]:
lambda num:num**2

In [4]:
name='this is global str'
def greet():
    name='nfkef'
    def hello():
              print('hello' + name)
              hello()

In [20]:
x=500
def myfunc():
    global x
    print(f"X is {x}")
    #reassigning x locally on a global variable
x='new value'
    print(f'Ijust locally changed global  x to {x}')

IndentationError: unexpected indent (<ipython-input-20-760bd42568b1>, line 7)

In [19]:
myfunc()

X is 500
Ijust locally changed global  x to 200

In [14]:
print(x)

500

In [15]:
print(myfunc(x))

X is 500
Ijust locally changed x to 200
None

In [10]:
def volume(n1):
    for n1  in volume:
        return [88/21]*n1*n1*n1

In [11]:
volume(2)

TypeError: 'function' object is not iterable

In [20]:

text='Hello Mr. Rogers, how are you this fine Tuesday'
def myfunc(text):
    n1=text.upper()
    n2=text.lower()
    for text in myfunc:
        return len(n1) and len(n2)

In [21]:
myfunc(text)

TypeError: 'function' object is not iterable

In [27]:
def myfunc(text):
    
    for text in myfunc:
        return set(text)

In [30]:
set([1,1,1,1,1,1,1,2,2,2,2,2,3,3,3,3,3,4,4])

{1, 2, 3, 4}

In [32]:
def multiply(text):
    for text in multiply:
        if text[0:len(text)]=text(::-1):
            return True
        else: 
            return False

SyntaxError: invalid syntax (<ipython-input-32-5d889bd9a376>, line 3)

In [1]:
mylist = [1,2,3]

In [4]:
mylist.append(4)

In [5]:
mylist

[1, 2, 3, 4]

In [44]:
class Dogs():
    
    species = 'mammal'
    
    
    def __init__(self,breed,name):
        
        
        self.breed = breed
        
    def bark(self,name):
        print("WOOFMy name is {}!".format(name))

In [45]:
dog = Dogs('geegee','kanak')

In [46]:
dog.species

'mammal'

In [49]:
dog.bark(kanak)

NameError: name 'kanak' is not defined

In [48]:
my_dog.

SyntaxError: invalid syntax (<ipython-input-48-0379c1de71d7>, line 1)

In [65]:
class burger():
    
    price = 200
    
    def __init__(self,tax=.12):
        self.tax = tax
    
    
    def subway(self):
        return self.tax*self.price*.18

In [66]:
burgerj = burger()

In [67]:
burgerj.subway()

4.32

In [3]:
def func(n):
    
    for x in range(n):
        yield(x**3)

In [7]:
for x in func(11):
    print(x)

0
1
8
27
64
125
216
343
512
729
1000

In [11]:
def genfibbonaci(n):
    a=1
    b=1
    output = []
    
    for i in range(n):
        output.append(a)

        a,b=b,a+b

In [10]:

for num in genfibbonaci(12):
    print(num)

1
1
2
3
5
8
13
21
34
55
89
144

In [12]:
s='hekllo'

In [14]:
for letter in s:


    print(letter)

h
e
k
l
l
o

In [16]:
siter = iter(s)

In [17]:
next(siter)

'h'

In [18]:
next(siter)

'e'

In [19]:
next(siter)

'k'

In [20]:
next(siter)

'l'

In [21]:
next(siter)

'l'

In [22]:
next(siter)

'o'

In [29]:
def numbersquare(n):
    for num in range(n):
        yield(num**2)

In [30]:
for x in numbersquare(12):
    print (x)

0
1
4
9
16
25
36
49
64
81
100
121

In [31]:
import random

random.randint(1,10)

10

In [1]:
def rand_num(low,high,n):
    import random
    for num in rand_num:
        yield random.randint(low,high)

In [2]:
import math

In [1]:
lst =[x**3 for x in range(50) if x%3 ==0]

In [2]:
lst

[0,
 27,
 216,
 729,
 1728,
 3375,
 5832,
 9261,
 13824,
 19683,
 27000,
 35937,
 46656,
 59319,
 74088,
 91125,
 110592]

In [3]:
lst = []

for num in range(78):
    lst.append(num)

In [4]:
lst

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77]

In [ ]:
l = []
l.append('sonam gupta')

In [1]:
'akdmksm'

'akdmksm'

In [2]:
class Circle(object):
    pi = 3.14
    
    
    
    def __init__(self,radius = 1):
        self.radius = radius
    
    def area(self):
        return self.radius*self.radius*Circle.pi
    
    def setradius(self,radius):
        self.radius = radius
        
    def getradius(self):
        return self.radius

    c = Circle()
    c.setradius(5)
    print('area is:',c.area()

SyntaxError: unexpected EOF while parsing (<ipython-input-2-b303ad1d8b52>, line 22)

In [21]:
class Activa(object):
    typo ='Automoblie'
    def __init__(self,mileage,tyres,engine):
        self.mileage = mileage
    
        self.tyres = tyres
        self.engine = engine

In [22]:
 s = Activa(25,'stable','worldclass')

In [23]:
s.typo

'Automoblie'

In [19]:
s.tyres

'stable'

In [20]:
s.engine

'worldclass'

In [30]:
class Automobilye(object):
    def __init__(self):
        print('vehicle created ')
        
        
    def whichvehicle(self):
        print('This is activa')
        
        
        
class Activa(Automobilye):
    def __init__(self):
        Automobilye.__init__(self)
        print("hfjehfun")
    def bakisabkesah(self):
        Automobilye.__init__(self)
        
        print('sab badiya tu suna')

In [31]:
s = Activa()

vehicle created
hfjehfun

In [32]:
s.whichvehicle()

This is activa

In [33]:
s.bakisabkesah()

vehicle created
sab badiya tu suna

In [34]:
class Animal(self):
    def __init__(self):
        print("Animal Created")
        
    def WHOAMI(self):
        print('I am Dog')
        
    def eat(self):
        print("eating")

NameError: name 'self' is not defined

In [43]:
class Book(object):
    def __init__(self,title,author,pages):
        self.title = title
        self.author = author
        self.pages = pages
    
    def __str__(self):
        return "Title:%s , Author:%s , Pages:%s" %(self.title,self.author,self.pages)
     
    def __len__(self):
        return self.pages
    
    def __del__(self):
        print("the book is deleted")

In [45]:
s = Book("The journey of my success","Paawan Mantri",214)

print(s)
print(len(s))
del(s)

Title:The journey of my success , Author:Paawan Mantri , Pages:214
214
the book is deleted

In [24]:
from ipywidgets import *

In [2]:
import ipywidgets as widgets

In [22]:
from IPython.display import *

In [9]:
from IPython.display import display

In [15]:
btiiom = widgets.Button(description = 'CLICK ME')
display(btiiom)


def on_buuton_click(b):
    print('BUTTON HAS BEEN CLICKED')
    
btiiom.on_click(on_buuton_click)

Button(description='CLICK ME', style=ButtonStyle())

In [16]:
display(btiiom)

Button(description='CLICK ME', style=ButtonStyle())

In [20]:
text = widgets.Text()
display(text)


def handle_submit(sender):
    
    print(text.value)
text.on_submit(handle_submit)

Text(value='')

In [25]:
caption = widgets.Label(value = 'THe inputs of slider1 and slider2 are synchronized')

slider1 = widgets.IntSlider(description = 'slider1')
slider2 = widgets.IntSlider(description = 'slider2')

l = traitlets.link((slider1,'value'),(slider2,'value'))

display(caption,slider1,slider2)

NameError: name 'traitlets' is not defined

In [26]:
import ipywidgets as widgets

In [27]:
widgets.FloatSlider(min = 1.0,max = 90.0,step = 1,description = "float",orientation = 'vertical')

FloatSlider(value=1.0, description='float', max=90.0, min=1.0, orientation='vertical', step=1.0)

In [ ]:
Int